<div>
  <button id="createButton" class="btn btn-outline-success mr-1" data-bind="click:showCreateDialog">
    Create New category
  </button>
  <!-- If categorySelected is set to false, disabled is true, and vice-versa. -->
  <oj-bind-if test="[[categorySelected()]]">
    <button id="updateButton" class="btn btn-outline-dark mr-1"
      data-bind="disable: !categorySelected(), click: showEditDialog">
      Update
    </button>
    <button id="deleteButton" class="btn btn-outline-danger"
      data-bind="disable: !categorySelected(), click: showDeleteDialog">
      Delete
    </button>
  </oj-bind-if>
  <oj-bind-if test="[[!categorySelected()]]">
    <span><strong>Please click on a category below to view its related posts</strong></span>
  </oj-bind-if>
</div>

<div class="oj-flex justify-content-between my-3">
  <div class="oj-flex-item oj-sm-12 oj-md-6 p-0"
    style=" height: fit-content; box-shadow: 0px 6px 10px rgba(161, 160, 160, 0.25);">
    <oj-list-view id="Categorymodel-category-list" data="[[categoryDataProvider]]" selection-mode="single"
      on-selected-changed="[[selectedCategoryChanged]]" first-selected-item="{{firstSelectedCategory}}"
      scroll-policy="loadMoreOnScroll">
      <template slot="itemTemplate" data-oj-as="item">
        <div class="">
          <strong class="d-block mb-3 text-capitalize">
            <oj-bind-text value="[[item.data.category_name]]"></oj-bind-text>
            <span class="float-right h5"> <span class="badge badge-pill badge-info"
                data-bind="text: numOfPosts()[item.data.id]"></span>
            </span>
          </strong>
          <strong>
            <oj-bind-text value="[[item.data.dsecription]]"></oj-bind-text>
          </strong>
        </div>
      </template>
    </oj-list-view>
  </div>
  <!-- display category details if a category is selected -->
  <oj-bind-if test="[[categorySelected()]]">
    <div class="oj-flex-item ml-lg-3 ml-md-3 bg-light mt-4 mt-sm-0 rounded"
      style="height: fit-content; box-shadow: 0px 6px 10px rgba(161, 160, 160, 0.25);">
      <h3 class="mb-0 pt-3 oj-padding-horizontal border border-right-0 border-left-0 border-top-0 border-secondary ">
        <oj-label for="basicSelect" class="h6 m-0">Posts in category<span class="mx-1"
            data-bind="text: `(${categoryData().category_name})`"></span>
        </oj-label>
      </h3>
      <oj-list-view id="Categorymodel-post-list" data="[[postsInCategory]]" selection-mode="single"
      on-selected-changed="[[selectedPostChanged]]" first-selected-item="{{firstSelectedPost}}"
      scroll-policy="loadMoreOnScroll">
        <template slot="itemTemplate" data-oj-as="item" class="py-2">
          <strong class="text-capitalize d-block">
            <oj-bind-text value="[[item.data.post_title]]"></oj-bind-text>
          </strong>
          <!-- <button data-bind="click: ''" class="btn btn-sm btn-dark mt-2">View post</button> -->
        </template>
      </oj-list-view>
    </div>
  </oj-bind-if>
</div>

<!-- create new  category modal -->
<oj-dialog id="createDialog" title="Create New Category">
  <div slot="body">
    <oj-label class="oj-label oj-label-inline" for="createNewTitle">Title</oj-label>
    <oj-input-text id="createNewTitle" value='{{newCategory.category_name}}'></oj-input-text>
    <oj-label class="oj-label oj-label-inline" for="createNewDesc">Description</oj-label>
    <oj-input-text id="createNewDesc" value="{{newCategory.description}}"></oj-input-text>
  </div>
  <div slot="footer">
    <oj-button id="submitBtn" on-oj-action="[[createCategory]]">Submit</oj-button>
  </div>
</oj-dialog>

<!-- update category modal, if category is selected -->
<oj-dialog id="editDialog" title="Update Category Details">
  <div slot="body">
    <oj-label class="oj-label oj-label-inline" for="newName">Title</oj-label>
    <oj-input-text id="newName" value='{{categoryData().category_name}}'></oj-input-text>
    <oj-label class="oj-label oj-label-inline" for="newDesc">Description</oj-label>
    <oj-input-text id="newDesc" value="{{categoryData().dsecription}}"></oj-input-text>
  </div>
  <div slot="footer">
    <oj-button id="submitBtn" on-oj-action="[[updateCategorySubmit]]">Update
    </oj-button>
  </div>
</oj-dialog>

<!-- delete category modal -->
<oj-dialog id="deleteDialog" title="Delete Category">
  <div slot="body">
    <p>Confirm you want to delete the category <span data-bind="text: categoryData().category_name"></span>?</p>
  </div>
  <div slot="footer">
    <oj-button id="submitBtn" on-oj-action="[[deleteCategory]]">Delete
    </oj-button>
  </div>
</oj-dialog>

<!-- view a single selected post -->

<oj-dialog id="viewPost" title="View post" class=" position-absolute col-12 col-md-9 mt-5 p-0" modality="modal"
  position.at.vertical="top">
  <div slot="body">
    <div>
      <h5>
        <oj-bind-text class="oj-text-secondary-color" value="[[postData().post_title]]"></oj-bind-text> <small> By Me
        </small>
      </h5>
    </div>
    <div style="word-wrap: break-word">
      <oj-bind-text value="[[postData().post_body]]"></oj-bind-text>
    </div>
    <p class="h6 mt-3 mb-0"> <i class="oj-fwk-icon oj-fwk-icon-calendar mr-2"></i>
      <oj-bind-text value="[[postData().created_at]]"></oj-bind-text>
    </p>
  </div>

</oj-dialog>

</oj-bind-if>

<!-- Start Messages Component -->

<oj-messages id="application-messages" messages="{{applicationMessages}}" display="notification" position='{
  "my": {"vertical" : "bottom", "horizontal": "end"},
  "at": {"vertical": "bottom", "horizontal": "end"},
  "of": "window"
  }'>
</oj-messages>

<!-- End Messages Component -->