<oj-bind-if test="[[fullpost()]]" class="oj-flex">
    <div data-bind="ojModule: { name: 'viewpost',
        params: {
        postSelected, fullpost }
        }"></div>
</oj-bind-if>

<oj-bind-if test="[[!fullpost()]]" class="my-3">
    <div class="form-group">
        <small class="h6 d-inline-block pb-1" style="font-size: 14px">Filter posts by category</small>
        <div class="d-flex">
            <select
                data-bind="options: categories, optionsText: 'category_name',  optionsValue:'id', optionsCaption: 'All categories', value: category_id"
                class="form-control col-md-5">
            </select>
            <button class="btn ml-3" data-bind="click: filterpost"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <oj-list-view id="Postmodel-post-list" class="col-12 mx-auto overflow-hidden bg-light p-0" data="[[dataProvider]]"
        selection-mode="single" on-selected-changed="[[postSelectedChanged]]" first-selected-item="{{postSelected}}">
        <template slot="itemTemplate" data-oj-as="item" class="border-0">
            <div>
                <p data-bind="text: [[item.data.category.title]]" class="badge badge-info p-2"></p>
                <strong class="text-capitalize d-block mb-1">
                    <oj-bind-text value="[[item.data.post_title]]"></oj-bind-text>
                </strong>
                <div class="d-block d-sm-flex justify-content-between align-items-center">
                    <p class="py-3 m-0 oj-text-sm oj-text-secondary-color">
                        <i class="oj-fwk-icon oj-fwk-icon-calendar mr-2"></i>
                        <oj-bind-text value="[[item.data.created_at]]"></oj-bind-text>
                        <span class="ml-1 font-weight-bold"
                            data-bind="text: `By ` + item.data.user.firstname +  ' ' + item.data.user.lastname"></span>
                    </p>
                </div>
            </div>
        </template>
        <div class="emoji-panel d-block">
                <button id="emoji-picker" class="chat-input-tool">
                      <svg preserveAspectRatio="xMidYMid" viewBox="0 0 24 24" style="width: 18px; height: 18px;">
                          <path d="M12 24C5.38 24 0 18.62 0 12S5.38 0 12 0s12 5.38 12 12-5.38 12-12 12zm0-22C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-2.9 0-5.56-1.75-6.9-4.57-.24-.5-.03-1.1.47-1.33.5-.24 1.1-.03 1.33.47C7.9 16.67 9.86 18 12 18c2.15 0 4.1-1.3 5.1-3.43.23-.5.83-.7 1.33-.47.5.23.7.83.47 1.33C17.58 18.25 14.93 20 12 20zm4-8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm-8 0c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z" fill="#fff"></path>
                      </svg>
                  </button>
              </div>
    </oj-list-view>

    <oj-paging-control id="paging" data="[[dataProvider]]" page-size="5" slot="bottom">
    </oj-paging-control>

</oj-bind-if>