<style>
  /* box1 stuff */
  .box1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    background: linear-gradient(90deg, #358af3 0%, #3f6ba2 100%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
  }

  div.box1 div.p-img span,
  div.box2 div.p-img span {
    width: 80px;
    margin: 10px;
    margin-top: 30px;
  }

  div.taskinfo {
    margin: 5px;
  }

  p.taskheading {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  div.box1 div.taskinfo p.p-stat,
  div.box2 div.taskinfo p.p-stat {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
  }

  span.p-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color: #FFFFFF;
  }

  div.box1,
  div.box2 {
    color: #fff;
  }

  .box2 {

    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    background: linear-gradient(270deg, #FDCAAD -3.75%, #FC6C1B 78.75%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
  }

  .box3 {
    grid-area: box3;
    border-radius: 5px;
    position: absolute;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
  }

  .box3 div.section-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    justify-content: space-evenly;
  }

  div.section-item div.sec-img img {
    width: 50px;
    padding-left: 5px;
    padding-right: 10px;
  }

  div.section-item div.sec-detail p.sociallink {
    margin-top: -35px;
    color: gray;
  }


  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .overview {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #768093;

    margin-top: 17px;
  }

  .line {
    max-width: 100px;
    border: .5px solid #fff;
  }

  .sectionheading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 2px auto;
    color: #768093;
  }

  .headbox {
    display: flex;
    margin-top: 10px;


  }

  .headbox p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #768093;
  }

  .headbox span {
    color: #4F5EF5;
  }


  .sec-num {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #2CCF75;
  }

  .sec-img {
    margin: 1px auto
  }

  .sec-fig {
    margin: 1px auto;
  }
</style>

<div class="container-fluid">
  <div class="container oj-hybrid-padding">

    <div class="row">

      <div class="col-md-8">
        <div class="row ">
          <div class="col-md-6">
            <div class="box1 m-1">
              <div class="p-img">
                <span class="fa fa-list-ul fa-4x"></span>
              </div>
              <div class="taskinfo">
                <p class="taskheading">Tasks</p>
                <div class="line"></div>
                <p class="p-stat">167 <span class="p-text"> Assigned</span></p>
                <p class="p-stat">90 <span class="p-text"> Graded</span></p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="box2 m-1">
              <div class="p-img">
                <span class="fa fa-user-o fa-4x"></span>
              </div>
              <div class="taskinfo">
                <p class="taskheading">Interns</p>
                <div class="line"></div>
                <p class="p-stat">7,674 <span class="p-text"> Assigned</span></p>
                <p class="p-stat">902 <span class="p-text"> Graded</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 mt-4">
            <table class="table table-hover table-responsive-md">
              <thead class="thead-light">
                <tr>
                  <th> Teams </th>
                  <th> Task </th>
                  <th> Teamlead </th>
                  <th> Deadline </th>
                  <th> Status </th>
                </tr>
              </thead>
             <!-- <tbody>
                <tr>
                  <td> Mavin </td>
                  <td> Networth Calculator</td>
                  <td> Tundeednut<br>
                    @hermit</td>
                  <td> 13/10/19</td>
                  <td><span
                      style="padding: 5px; border:1px #10A252 solid; border-radius: 9px; color: #10A252;">Graded</span>
                  </td>
                </tr>

                <tr>
                  <td> Heist</td>
                  <td> Goal tracker app</td>
                  <td> Tonistack <br>
                    @tonistack</td>
                  <td> 13/10/19</td>
                  <td><span style="padding: 5px; border:1px #1E7FF6 solid; border-radius: 9px; color: #37409E;">
                      Submitted</span>
                  </td>
                </tr>

                <tr>
                  <td> Synergy</td>
                  <td> Chatbot</td>
                  <td> Walebakare<br>
                    @placeholder</td>
                  <td> 13/10/19</td>
                  <td><span
                      style="padding: 5px; border:1px #10A252 solid; border-radius: 9px; color: #10A252;">Graded</span>
                  </td>
                </tr>

                <tr>
                  <td> Jupiter </td>
                  <td> Solar calculator</td>
                  <td> Jon jude<br>
                    @Judejay</td>
                  <td> 13/10/19</td>
                  <td><span style="padding: 5px; border:1px #1E7FF6 solid; border-radius: 9px; color: #37409E;">
                      Submitted</span>
                  </td>
                </tr>

                <tr>
                  <td> Dauntless</td>
                  <td> Slackbot</td>
                  <td> AustinOkoro<br>
                    @austyno</td>
                  <td> 13/10/19</td>
                  <td> <span style="padding: 5px; border:1px #1E7FF6 solid; border-radius: 9px; color: #37409E;">
                      Submitted</span>
                  </td>
                </tr>

                <tr>
                  <td> Jupiter</td>
                  <td> Solar calculator</td>
                  <td> Jon jude<br>
                    @Judejay</td>
                  <td> 13/10/19</td>
                  <td><span style="padding: 5px; border:1px #1E7FF6 solid; border-radius: 9px; color: #37409E;">
                      Submitted</span>
                  </td>
                </tr>

                <tr>
                  <td> Dauntless</td>
                  <td> Slackbot</td>
                  <td> AustinOkoro<br>
                    @austyno</td>
                  <td> 13/10/19</td>
                  <td><span style="padding: 5px; border:1px #1E7FF6 solid; border-radius: 9px; color: #37409E;">
                      Submitted</span>
                  </td>

                </tr>
              </tbody> -->
            </table>
          </div>
        </div>

      </div>

      <div class="col-md-4 col-xs-4">

        <div class="box3">
          <div class="headbox">
            <p class="sectionheading"><span class="fa fa-random fa-1x"></span> Top Interns</p>

            <!-- <img src="../../css/images/avatar_24px.png" alt=""> -->
          </div>
          <hr>

          <div class="section-item">
            <div class="sec-img">
              <img src="../../css/images/avatar_24px_2x.png" alt="" />
            </div>

            <div class="sec-detail">
              <p>Tunde Ednut</p>
              <br />
              <p class="sociallink">@hermit</p>
            </div>

            <div class="sec-fig">
              <p class="sec-num">352</p>
            </div>
          </div>
          <div class="section-item">
            <div class="sec-img">
              <img src="../../css/images/avatar_24px_2x.png" alt="" />
            </div>

            <div class="sec-detail">
              <p>Toni Stack</p>
              <br />
              <p class="sociallink">@tonistack</p>
            </div>

            <div class="sec-fig">
              <p class="sec-num">340</p>
            </div>
          </div>
          <div class="section-item">
            <div class="sec-img">
              <img src="../../css/images/avatar_24px_2x.png" alt="" />
            </div>

            <div class="sec-detail">
              <p>Wale Bakare</p>
              <br />
              <p class="sociallink">@placeholder</p>
            </div>

            <div class="sec-fig">
              <p class="sec-num">312</p>
            </div>
          </div>
          <div class="section-item">
            <div class="sec-img">
              <img src="../../css/images/avatar_24px_2x.png" alt="" />
            </div>

            <div class="sec-detail">
              <p>Jon Jude</p>
              <br />
              <p class="sociallink">@Judejay</p>
            </div>

            <div class="sec-fig">
              <p class="sec-num">270</p>
            </div>
          </div>
          <div class="section-item">
            <div class="sec-img">
              <img src="../../css/images/avatar_24px_2x.png" alt="" />
            </div>

            <div class="sec-detail">
              <p>Austin Okoro</p>
              <br />
              <p class="sociallink">@austyno</p>
            </div>

            <div class="sec-fig">
              <p class="sec-num">231</p>
            </div>
          </div>
          <div class="section-item">
            <div class="sec-img">
              <img src="../../css/images/avatar_24px_2x.png" alt="" />
            </div>

            <div class="sec-detail">
              <p>Jon Jude</p>
              <br />
              <p class="sociallink">@Judejay</p>
            </div>

            <div class="sec-fig">
              <p class="sec-num">200</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>