<!-- modal display for post functionalities -->
<oj-bind-if test="[[fullpost()]]" class="oj-flex">
  <div data-bind="ojModule: { name: 'viewpost',
        params: {
        postSelected, fullpost, postpg }
        }"></div>
</oj-bind-if>


<div id="edit_post" style="display: none">
  <div class="d-flex justify-content-between">
    <h4>Edit post</h4>
    <span class="fa-stack" data-bind="click: close_edit">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-close fa-stack-1x bg-warning text-light rounded-circle"></i>
    </span>
  </div>
  <div class="form-group">
    <oj-label class="oj-label oj-label-inline">Category</oj-label>
    <select
      data-bind="options: categories, optionsText: 'category_name',  optionsValue:'id', optionsCaption: 'Select category', value: category_id,"
      class="form-control">
    </select>
  </div>
  <div class="form-group">
    <oj-label class="oj-label oj-label-inline">Post title</oj-label>
    <input data-bind="textInput: post().post_title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <oj-label class="oj-label oj-label-inline">Post body</oj-label>
    <textarea id="editpost" class="form-control" placeholder="Your post here">
      </textarea>
  </div>
  <button data-bind="click: updatePost" class="btn btn-success">
    Update post
  </button>
</div>



<div :class="[[postpg]]">
  <oj-dialog id="deleteModal" title="Delete post" position.at.vertical="top" class="mt-5">
    <div slot="body">
      <p>
        Confirm you want to delete this post?
      </p>
      <button data-bind="click: deletePost" class="btn btn-danger">Delete post</button>
    </div>
  </oj-dialog>

  <div class="row">
    <div class="col-sm-12 d-none pd">
      <div class="d-flex justify-content-between">
        <h4 class="float-left">Create a new post</h4>
        <span class="fa-stack" data-bind="click: post_view_toggle">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-close fa-stack-1x bg-warning text-light rounded-circle"></i>
        </span>
      </div>
      <div class="my-3">
        <select
          data-bind="options: categories, optionsText: 'category_name',  optionsValue:'id', optionsCaption: 'Select category', value: category_id"
          class="form-control">
        </select>
      </div>
      <div class="my-3">
        <input data-bind="textInput: post_title" type="text" placeholder="Title of the post" class="form-control" />
      </div>
      <textarea id="postbody" class="form-control my-3 h-50" placeholder="Your post here">
      </textarea>
            <div class="my-3">
                <input data-bind="click: createPost" type="submit" class="btn btn-success" value="Create post" />
            </div>
        </div>
    </div>
    <div class="col-sm-12 pd">
      <div>
        <h4 class="float-left">My posts</h4>
        <p class="btn btn-info float-right" data-bind="click: post_view_toggle">
          New post
        </p>
      </div>
      <div class="clearfix"></div>
      <oj-list-view id="Postmodel-post-list" class="col-12 col-md-11 mx-auto overflow-hidden bg-light p-0"
        data="[[dataProvider]]" selection-mode="single" on-selected-changed="[[postSelectedChanged]]"
        first-selected-item="{{postSelected}}">
        <template slot="itemTemplate" data-oj-as="item" class="border-0">
          <div>
            <strong class="text-capitalize d-block mb-1">
              <oj-bind-text value="[[item.data.post_title]]"></oj-bind-text>
            </strong>
            <div class="d-block d-sm-flex justify-content-between align-items-center">
              <p class="py-3 m-0 oj-text-sm oj-text-secondary-color">
                <i class="oj-fwk-icon oj-fwk-icon-calendar mr-2"></i>
                <oj-bind-text value="[[item.data.created_at]]"></oj-bind-text>
                <span class="ml-1 mb-0 mt-2 pb-2 font-weight-bold"
                  data-bind="text: `By ` + item.data.user.firstname +  ' ' + item.data.user.lastname"></span>
              </p>
              </p>
              <div>
                <button data-bind="click: viewPost" class="btn btn-sm btn-info mr-2"><i class="fa fa-eye"></i></button>
                <button data-bind="click: editPostModal" class="btn btn-sm btn-dark mr-2"><i
                    class="fa fa-edit"></i></button>
                <button data-bind="click: deletePostModal" class="btn btn-sm btn-danger"><i
                    class="fa fa-trash-o"></i></button>
              </div>
            </div>
          </div>
        </template>
      </oj-list-view>
      <oj-paging-control id="paging" data="[[dataProvider]]" page-size="10" slot="bottom">
      </oj-paging-control>
    </div>
  </div>
</div>
<!-- Start Messages Component -->

<oj-messages id="application-messages" messages="{{applicationMessages}}" display="notification" position='{
  "my": {"vertical" : "bottom", "horizontal": "end"},
  "at": {"vertical": "bottom", "horizontal": "end"},
  "of": "window"
  }'>
</oj-messages>

<!-- End Messages Component -->