<div class="mb-3">
    <div class="d-flex justify-content-between">
        <h6 class="badge badge-info p-2 mb-3">
            <oj-bind-text value="[[category]]"></oj-bind-text>
        </h6>
        <span class="fa-stack" data-bind="click: close">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-close fa-stack-1x bg-warning text-light rounded-circle"></i>
        </span>
    </div>
    <h5 style="font-size: 1.2em;" class="mb-3">
        <oj-bind-text value="[[title]]"></oj-bind-text>
    </h5>
    <p class="oj-text-secondary-color oj-text-sm font-weight-bold"> <i
            class="oj-fwk-icon oj-fwk-icon-calendar mr-1"></i>
        <oj-bind-text value="[[time]]"></oj-bind-text> by <oj-bind-text value="[[author]]"></oj-bind-text>
    </p>
    <oj-bind-dom style="word-wrap: break-word" class="m-0 p-0" config="{{ post_body }}"></oj-bind-dom>

    <div id="emojis"></div>
    <div class="mt-3">
        <button class="btn btn-sm btn-dark py-2 mr-2" data-bind="click: toggle_comments">Comments
            <span class="badge badge-light" style="font-size: 100%" data-bind="text: no_of_comments">
            </span>
        </button>
        <button class="btn btn-sm btn-outline-info py-2" data-bind="click: toggle_comment_box">
            <i class="fa fa-hand-o-down mr-2"></i>
            Drop your comment
        </button>
        <button id="emoji-button" class="btn btn-sm btn-outline-info py-2">😀</button>
    </div>
    <!--<div class="emoji-panel">
            
          </div>-->

</div>
<div id="commentBox" style="display: none">
    <div class="form-group mt-4">
        <textarea class="form-control" id="replypost" rows="7" placeholder="Your comment here"
            style="position: relative"></textarea>
        <button class="btn btn-sm btn-success mt-3 py-2" data-bind="click: post_comment"><i
                class="fa fa-send mr-2"></i>Post comment</button>
    </div>
</div>

<div id="comments" style="display: none">
    <h5>Comments</h5>
    <oj-list-view id="l" class="col-12 mx-auto overflow-hidden bg-light p-0"
        data="[[commentsProvider]]" selection-mode="single" on-selected-changed="[[commentChanged]]"
        first-selected-item="{{commentSelected}}">
        <template slot="itemTemplate" data-oj-as="item" class="border-0">
            <div>
                <p class="pb-3 m-0 oj-text-sm oj-text-secondary-color">
                    <span class="font-weight-bold mr-1" style="font-size: 13px;" data-bind="text: item.data.user.firstname + ' ' + item.data.user.lastname"></span>
                    <oj-bind-text value="[[item.data.created_at]]"></oj-bind-text>
                </p>
                <oj-bind-dom class="m-0 p-0" config="{{ item.data.comment }}"></oj-bind-dom>
                <p class="m-0">
                    <!-- <button data-bind="click: edit_comment" class="btn btn-sm btn-dark mr-2"><i
                            class="fa fa-edit"></i></button> -->
                    <oj-bind-if test="[[isAdmin()]]">
                        <button data-bind="click: delete_comment" class="btn btn-sm btn-danger"><i
                                class="fa fa-trash-o"></i>
                        </button>
                    </oj-bind-if>
                </p>
            </div>
        </template>
    </oj-list-view>
    <oj-paging-control id="paging" data="[[commentsProvider]]" page-size="5" slot="bottom">
    </oj-paging-control>
</div>