node_modules
bower_components/*
/themes
/web
web
web/*
.vscode
.idea
manifest.json
sw.js


/hybrid/node_modules
/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.db
ojet_frontend.code-workspace
src/js/viewModels/api.js
