/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/


/*style for the form container*/

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 768px) {
    .oj-flex-bar {
        flex-basis: 100% !important;
    }
}

.form_container {
    margin-bottom: 5ch;
    min-height: 100%;
    margin-bottom: 5ch;
    padding: 0px 15px;
}


/* default */

.image {
    position: absolute;
    width: 200px;
    height: 35.42px;
    left: 100px;
    top: 35px;
    background-image: url(./images/default.png);
}

#form_wrapper {
    padding-bottom: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(16, 16, 16, 0.37);
    border-radius: 3px;
}

.ftitle {
    color: rgba(3, 2, 2, 0.7);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
}

.fhtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 49px;
    color: #9b51e0;
}

#lform_components {
    width: 90%;
    margin: auto;
}

.lform-ctrl>input,
.select {
    background: #dedcdcc2;
    border-radius: 4px;
    padding: 15px;
    /* margin-bottom: 20px; */
    width: 100%;
    outline: none;
    border: none;
    margin-top: 20px;
}

.progress {
    height: 25px;
}

.inputs {
    font-size: 8pt;
    font-weight: lighter;
    height: 35px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

.fbtn {
    background-color: #488eff;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    color: white !important;
    /* box-shadow: 0px 1px 5px #011941 !important; */
    border: none !important;
    outline: none !important;
    font-size: 8pt;
    padding: 5px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#accinfo {
    display: none;
}

.footer {
    min-height: auto !important;
    font-weight: bold;
    width: 100%;
    z-index: 10;
}


/* =============== SUBMISION PAGE ================ */

.task-submission {
    text-align: center;
    margin: 3rem 0;
    font-weight: bold;
    font-size: 2rem;
}

.form {
    background-color: #fff;
    display: flex !important;
    flex-direction: column !important;
    padding: 1rem 5rem;
    width: 100%;
    height: auto;
    margin: 5em 0;
    border: 1px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
}

.form .oj-label-group {
    font-weight: 1000;
}

.message {
    display: none;
}

.error {
    color: rgb(175, 5, 5);
}

.success {
    color: rgb(111, 236, 111);
}

.input-profile {
    border: 3px solid lightgray;
}

@media (max-width: 768px) {
    .form {
        padding: 1rem 2rem;
        min-width: 100%;
    }
}


/* End of Submission Page styling */


/* Dashboard page @shazomii-ojet */

.oj-offcanvas-outer-wrapper {
    height: 100%;
}

.oj-offcanvas-start {
    width: 20em;
}


/*admin_dashboard*/

.logo {
    color: #474748 !important;
}

#sidebar {
    width: 200px;
    position: fixed;
    bottom: 0;
    z-index: 5;
    background-color: #ffffff;
    box-shadow: 0px 6px 10px rgba(118, 128, 147, 0.5);
}

#sidebar.smactive {
    display: none;
}

#sidebar li {
    line-height: 18px;
    height: 60px;
}

#sidebar li a * {
    font-weight: 500;
    font-size: 15px;
    color: #768093 !important;
}

#sidebar li a:hover {
    text-decoration: none !important;
}

#sidebar .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected {
    background-color: #f4f6f9;
}

#sidebar .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected i {
    color: #03a9f4 !important;
}

#sidebar li i {
    width: 20px;
    font-size: 1.2em !important;
}

#maincontent {
    margin-left: 200px;
    overflow: hidden;
}

#maincontent.smactive {
    margin-left: 0px;
}

#maincontent_nav {
    background-color: #ffffff;
    padding: 15px;
}

#maincontent_body>div:not(#overview-admin),
#maincontent_intern_body>div:not(#overview-intern) {
    display: none;
}

#Categorymodel-category-list,
#Categorymodel-post-list,
#Postmodel-post-list,
#Taskmodel-task-list {
    border: none !important;
    overflow-x: hidden;
}

.input__profile {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .logo span {
        display: none;
    }
    #sidebar {
        width: auto;
        padding: 0px 10px 50px;
        overflow-y: auto;
        display: none;
    }
    #sidebar.smactive {
        display: block;
    }
    #sidebar li i {
        width: fit-content;
    }
    #sidebar .oj-navigationlist-vertical.oj-navigationlist-icon-only .oj-navigationlist-item.oj-selected .oj-navigationlist-item-icon {
        color: whitesmoke !important;
        text-decoration: none;
    }
    #sidebar .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected {
        background-color: transparent;
    }
    #maincontent {
        margin-left: 0px;
    }
    #maincontent.smactive {
        margin-left: 65px;
    }
}

@media only screen and (min-width: 420px) {
    .input__profile {
        max-width: 80%;
    }
}


/* ===================== TRACKS =========================== */

.demo-custom-card-alt1-style.oj-listview-card-layout li.oj-listview-item {
    background-color: #f2f2f3;
    border-color: #e0e1e1;
}

.demo-custom-card-alt2-style.oj-listview-card-layout li.oj-listview-item {
    background-color: #e8f2fb;
    border-color: #d1e6f9;
}

.demo-custom-card-alt3-style.oj-listview-card-layout li.oj-listview-item {
    background-color: #fef9e8;
    border-color: #fef3ce;
}

.demo-custom-card-alt4-style.oj-listview-card-layout li.oj-listview-item {
    background-color: #ffe4e1;
    border-color: #ffcdc8;
}

.demo-custom-card-alt5-style.oj-listview-card-layout li.oj-listview-item {
    background-color: #fce8fe;
    border-color: #facefe;
}

.oj-listview-focused-element .oj-listview-item-element .oj-listview-item {
    border: none;
}

.trash,
.pencil {
    display: inline-block;
    margin-right: 1.5rem;
}

.plus {
    display: inline-block;
    margin-right: 0.5rem;
}

span.btn.btn-primary {
    display: inline-block !important;
    margin-bottom: 1.5rem !important;
}

.demo-search-button,
.demo-search-button:hover {
    text-decoration: none;
}

.demo-search-button:active {
    background: none;
}


/* box1 stuff */

.box1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    background: linear-gradient(90deg, #358af3 0%, #3f6ba2 100%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
}

div.box1 div.p-img span,
div.box2 div.p-img span,
div.box3 div.p-img span {
    width: 80px;
    margin: 10px;
    margin-top: 30px;
}

div.taskinfo {
    margin: 5px;
}

p.taskheading {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

div.box1 div.taskinfo p.p-stat,
div.box2 div.taskinfo p.p-stat,
div.box3 div.taskinfo p.p-stat {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
}

span.p-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
}

div.box1,
div.box2,
div.box3 {
    color: #fff;
}

.box2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    background: linear-gradient(270deg, #FDCAAD -3.75%, #FC6C1B 78.75%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
}

.box3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    background: linear-gradient(270deg, rgb(173, 253, 177) -3.75%, rgb(46, 252, 27) 78.75%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
}


/* .box3 div.section-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    justify-content: space-evenly;
} */

div.section-item div.sec-img img {
    width: 50px;
    padding-left: 5px;
    padding-right: 10px;
}

div.section-item div.sec-detail p.sociallink {
    margin-top: -35px;
    color: gray;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.overview {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #768093;
    margin-top: 17px;
}

.line {
    max-width: 100px;
    border: .5px solid #fff;
}

.sectionheading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 2px auto;
    color: #768093;
}

.headbox {
    display: flex;
    margin-top: 10px;
}

.headbox p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #768093;
}

.headbox span {
    color: #4F5EF5;
}

.sec-num {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2CCF75;
}

.sec-img {
    margin: 1px auto
}

.sec-fig {
    margin: 1px auto;
}

#dialogWrapper {
    text-align: center;
}

#buttonOpener {
    cursor: pointer;
}

#summary-modal {
    width: 80%;
}

@media only screen and (min-width:768px) {
    #summary-modal {
        width: 60%;
    }
}

button {
    cursor: pointer;
}

oj-navigation-list li {
    cursor: pointer;
}


/** status **/

.led-green {
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
    -webkit-animation: pulse-animation 2s infinite linear;
}

.led-gray {
    width: 12px;
    height: 12px;
    background-color: rgb(117, 117, 117);
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset rgb(116, 116, 116) 0 -1px 9px, rgb(202, 202, 202) 0 2px 12px;
}

@-webkit-keyframes pulse-animation {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2)
    }
    75% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}