<!DOCTYPE html>
<html>
    <head>
        <title>Admin dashboard</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <!-- outer offcanvas wrapper -->
        <div class="oj-offcanvas-outer-wrapper" 
        style="border: 1px solid #d1e6f9; height:650px;">

        <div class="header">
            <a href="#" class="nav-trigger"><span></span></a>
        </div>
        
        <div class="side-nav">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <span><i class="fa fa-user"></i></span>
                            <span>Admin</span>
                        </a>
                    </li>
                    
                    <li>
                            <a href="#">
                                <span><i class="fa fa-list-alt"></i></span>
                                <span> Categories </span>
                            </a>
                            
                    <li>
                        <a href="#">
                            <span><i class="fa fa-envelope"></i></span>
                            <span> Posts </span>
                        </a>
                    </li>
                        <li>
                            <a href="#">
                                <span><i class="fa fa-tasks"></i></span>
                                <span> Track</span>
                            </a>
                        </li>

                </ul>
            </nav>
        </div>


        






        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    </body>
    
</html>