<style>
  #itemsList {
    border: none !important;
  }
  #itemsList li{
    background: none !important;
  }

</style>
<div class="oj-hybrid-padding">
  <div class="oj-flex oj-flex-init">
    <div class="oj-flex oj-flex-item oj-flex-items-pad oj-md-12 oj-sm-12">

      <!-- create category button-->
      <div class="oj-flex-item oj-md-6 oj-sm-12">
        <oj-button id="createButton" on-oj-action="[[showCreateDialog]]">
          Create category
        </oj-button> 
        <!-- If categorySelected is set to false, disabled is true, and vice-versa. -->
        <oj-bind-if test="[[categorySelected()]]">
          <oj-button id="updateButton" disabled="[[!categorySelected()]]" on-oj-action="[[showEditDialog]]">
            Update
          </oj-button>
          <oj-button id="deleteButton" disabled="[[!categorySelected()]]" on-oj-action="[[deleteCategory]]">
            Delete
          </oj-button>
        </oj-bind-if>
      </div> 

      <div class="w-100 mt-3" style="box-shadow: 0px 6px 10px rgba(161, 160, 160, 0.25);">  
        <oj-list-view id="itemsList" style="overflow-x:hidden" data="[[categoryDataProvider]]"
                      selection-mode="single" selection="{{selectedCategory}}"
                      on-selection-changed="[[selectedCategoryChanged]]" first-selected-item="{{firstSelectedCategory}}"
                      scroll-policy="loadMoreOnScroll" scroll-policy-options.fetch-size="5">
          <template slot="itemTemplate">
            <div class="oj-md-6">
              <strong class="d-block mb-3 text-capitalize">
                <oj-bind-text value="[[$current.data.category_name]]"></oj-bind-text>
                <span class="float-right h5"> <span class="badge badge-info" data-bind="text: numOfPosts()[$current.index]"></span> </span>
              </strong>
              <strong>
                <oj-bind-text value="[[$current.data.dsecription]]"></oj-bind-text>
              </strong>
            </div>
          </template>
      </div>

      <!-- create new  category modal -->
      <oj-dialog id="createDialog" style="display:none" title="Create New Category">
        <div slot="body">
          <oj-label class="oj-label oj-label-inline" for="createNewTitle">Title</oj-label>
          <oj-input-text id="createNewTitle" value='{{newCategory.category_name}}'></oj-input-text>
          <oj-label class="oj-label oj-label-inline" for="createNewDesc">Description</oj-label>
          <oj-input-text id="createNewDesc" value="{{newCategory.description}}"></oj-input-text>
        </div>
        <div slot="footer">
          <oj-button id="submitBtn" on-oj-action="[[createCategory]]">Submit</oj-button>
        </div>
      </oj-dialog>

      <!-- update category modal, if category is selected -->
      <oj-bind-if test="[[categorySelected()]]">
        <oj-dialog id="editDialog" style="display:none" title="Update Category Details">
          <div slot="body">
            <oj-label class="oj-label oj-label-inline" for="newName">Title</oj-label>
            <oj-input-text id="newName" value='{{categoryData().category_name}}'></oj-input-text>
            <oj-label class="oj-label oj-label-inline" for="newDesc">Description</oj-label>
            <oj-input-text id="newDesc" value="{{categoryData().dsecription}}"></oj-input-text>
          </div>
          <div slot="footer">
            <oj-button id="submitBtn" on-oj-action="[[updateCategorySubmit]]">Update
            </oj-button>
          </div>
        </oj-dialog>

        <!-- display category details if a category is selected -->
        <div class="oj-flex-item oj-sm-12 oj-md-6">
          <h3>
            <oj-label for="basicSelect">Category Details</oj-label>
          </h3>
          <hr style="margin-top:12px;">
          <div id="itemName" style="font-size: 20px; font-weight: bolder;">
            <oj-bind-text value="[[categoryData().category_name]]"></oj-bind-text>
          </div>
          <div id="itemDesc"
               style="font-size: 14px; font-weight: 400; font-style:italic; margin-bottom: 10px;">
            <oj-bind-text value="[[categoryData().dsecription]]"></oj-bind-text>
          </div>
        </div>
