<div id="parentDiv">

    <!-- outer offcanvas wrapper -->
    <div class="oj-offcanvas-outer-wrapper oj-panel-hybrid-padding" style="height: 800px;">

        <!-- start offcanvas -->
        <div id="drawer" class="oj-offcanvas-start oj-panel oj-panel-alt1" style="width: 20em">
            <div class="oj-flex oj-sm-flex-direction-column oj-sm-align-items-center oj-sm-margin-2x">
                <div class="oj-flex-item">
                    <oj-avatar role="img" aria-label="Single Placeholder Avatar" size="lg">
                    </oj-avatar>
                </div>
                <span class="oj-flex-item" style="padding-top:10px">Seye Oyeniran</span>
            </div>
            <div class="oj-flex oj-sm-flex-direction-column oj-sm-align-items-center oj-sm-margin-2x">
                <span class="oj-flex-item" style="padding-top:10px">Stage 3 Intern</span>
                <span class="oj-flex-item" style="padding-top:10px">Design Track</span>
                <span class="oj-flex-item" style="padding-top:10px">Week 2 of 10</span>

            </div>
        </div>

        <!-- main content -->
        <div id="main" style="padding: 10px; height: 100%">
            <!-- start offcanvas launch button -->
            <oj-button display='icons' chroming='half' on-click='[[toggleDrawer]]'>
                <span slot='startIcon' class='oj-fwk-icon-hamburger oj-fwk-icon'></span> Toggle start offcanvas
            </oj-button>

            <h1>Welcome Intern</h1>
            <oj-progress style="width:100%" value="20"></oj-progress>
            <div class="oj-flex">


                <div class="oj-panel oj-flex-item">
                    <h3>Tasks for the week</h3>
                    <oj-collapsible id="c1">
                        <h2 id="h1" slot="header">Create a chatbot App</h2>
                        <h5>Create ChatBot App</h5>
                        <ol>
                            <li>App should be able to answer question about HNG internship</li>
                            <li>Design should be superb</li>
                        </ol>
                    </oj-collapsible>
                    <oj-collapsible id="c2">
                        <h2 id="h2" slot="header">Create a Mortgage Calculator</h2>
                        <h5>Create ChatBot App</h5>
                        <ol>
                            <li>App should be able to answer question about HNG internship</li>
                            <li>Design should be superb</li>
                        </ol>
                    </oj-collapsible>
                    <oj-collapsible id="h3">
                        <h2 id="h3" slot="header">Create a Gate App</h2>
                        <h5>Create ChatBot App</h5>
                        <ol>
                            <li>App should be able to answer question about HNG internship</li>
                            <li>Design should be superb</li>
                        </ol>
                    </oj-collapsible>
                </div>


                <div class="oj-panel  oj-flex-item">
                    <h3>Stage 3 Intern</h3>
                    <h4>7 Stages to Completion</h4>

                </div>
                <div class="oj-panel  oj-flex-item">
                    <h3>Teams</h3>
                    <ol>
                        <li>Team Ojet</li>
                        <li>Team Tesla</li>
                    </ol>
                </div>
            </div>



        </div>

    </div>
</div>