<oj-bind-if test="[[!isUserProfile()]]">

    <div class="oj-flex oj-sm-justify-content-center mt-2" style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="col-sm-12 col-md-11">
            <h3 class="mb-0 pt-3 oj-padding-horizontal border border-right-0 border-left-0 border-top-0 border-secondary ">
                <oj-label for="basicSelect" class="h6 m-0"><span class="mx-1">
        </span><sup>(Click on an intern to carry out actions)</sup>
                </oj-label>
            </h3>
            <oj-list-view id="interns" class="mx-auto overflow-hidden bg-light p-0" data="[[dataProvider]]" selection-mode="single" on-selected-changed="[[selectedInternChanged]]" first-selected-item="{{firstSelectedIntern}}" scroll-policy="loadMoreOnScroll">
                <template slot="itemTemplate" data-oj-as="item" class="border-0">
        <div class="oj-flex p-2 border rounded bg-light" style="width: 100%; color: #4e5769 !important; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
          <div class="oj-flex-item oj-sm-3">
            <img src="https://res.cloudinary.com/judejax/image/upload/v1567639756/avatar.png" class="img-thumbnail"
              width="60" height="65">
          </div>
          <div class="oj-flex-item oj-sm-8">
            <strong class="text-capitalize d-block">
                <oj-bind-text value="[[item.data.id]]"></oj-bind-text><br>
                <oj-bind-text value="[[item.data.firstname]]"></oj-bind-text><br>
                <oj-bind-text value="[[item.data.lastname]]"></oj-bind-text><br>
            </strong>
            <button data-bind="click: ''" class="btn btn-sm mt-1 mb-1 text-light"
              style="background-color: #3F0F3F; color: #FFF"><i class="fa fa-slack text-light"></i>
              &nbsp;
              <strong>
                 <oj-bind-text value="[[item.data.username]]"></oj-bind-text>
              </strong></button>
          </div>
        </div>
      </template>
            </oj-list-view>
            <oj-paging-control id="paging" data="[[dataProvider]]" page-size="10" slot="bottom">
            </oj-paging-control>
        </div>
    </div>

</oj-bind-if>
<oj-bind-if test="[[isUserProfile()]]">
    <div class="oj-flex oj-sm-justify-content-center my-3" data-bind="ojModule: { name: 'intern_profile',
        params: {userModel:
        firstSelectedIntern, hideProfile: isUserProfile }
        }"></div>
</oj-bind-if>