<div class="form_container oj-flex oj-helper-justify-content-center">
  <div class="oj-md-5 oj-sm-12 oj-md-align-self-center oj-sm-align-self-center">
    <div style="text-align:center">
      <div>
        <h5>Welcome Back!</h5>
        <p>
          New to HNG Board?
          <span style="color: #488EFF; cursor: pointer;" data-bind="click: register">Sign up</span>
        </p>
      </div>
      <div id="fbk" style="width: 300px; margin: auto"></div>
      <div>
        <input type="email" data-bind="textInput: user" placeholder="Email address" class="inputs" />
      </div>
      <div>
        <input type="password" data-bind="textInput: password" placeholder="Password" class="inputs" />
      </div>
      <div class="oj-flex-items-pad">
        <button data-bind="click: login" class="fbtn">
          Log in
        </button>
      </div>
      <div
        style="margin-top: 10px; display: flex; justify-content: flex-end; margin-right: 80px; font-weight: 300; font-size: 8pt; cursor: pointer;">
        <a data-bind="click: reset">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>