<style>
  /* box1 stuff */
  .box1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    background: linear-gradient(90deg, #358af3 0%, #3f6ba2 100%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
  }

  div.box1 div.p-img span,
  div.box2 div.p-img span {
    width: 80px;
    margin: 10px;
    margin-top: 30px;
  }

  div.taskinfo {
    margin: 5px;
  }

  p.taskheading {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  div.box1 div.taskinfo p.p-stat,
  div.box2 div.taskinfo p.p-stat {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
  }

  span.p-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    color: #FFFFFF;
  }

  div.box1,
  div.box2 {
    color: #fff;
  }

  .box2 {

    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    background: linear-gradient(270deg, #FDCAAD -3.75%, #FC6C1B 78.75%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
  }

  .box3 {
    grid-area: box3;
    border-radius: 5px;
    position: absolute;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
  }

  .box3 div.section-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    justify-content: space-evenly;
  }

  div.section-item div.sec-img img {
    width: 50px;
    padding-left: 5px;
    padding-right: 10px;
  }

  div.section-item div.sec-detail p.sociallink {
    margin-top: -35px;
    color: gray;
  }


  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .overview {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #768093;

    margin-top: 17px;
  }

  .line {
    max-width: 100px;
    border: .5px solid #fff;
  }

  .sectionheading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 2px auto;
    color: #768093;
  }

  .headbox {
    display: flex;
    margin-top: 10px;


  }

  .headbox p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #768093;
  }

  .headbox span {
    color: #4F5EF5;
  }


  .sec-num {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #2CCF75;
  }

  .sec-img {
    margin: 1px auto
  }

  .sec-fig {
    margin: 1px auto;
  }
</style>

<div class="container-fluid">
  <div class="container oj-hybrid-padding">
        <div class="row ">
          <div class="col-md-6">
            <div class="box1 m-1">
              <div class="p-img">
                <span class="fa fa-list-ul fa-4x"></span>
              </div>
              <div class="taskinfo">
                <p class="taskheading"> Tasks</p>
                <div class="line"></div>
                <p class="p-stat"><span><oj-bind-text value="[[totalPosts]]"></oj-bind-text></span>
                   Assigned</p>
                <p class="p-stat"> <span><oj-bind-text value="[[totalPosts]]"></oj-bind-text></span>  Graded</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="box2 m-1">
              <div class="p-img">
                <span class="fa fa-user-o fa-4x"></span>
              </div>
              <div class="taskinfo">
                <p class="taskheading">Interns</p>
                <div class="line"></div>
                <p class="p-stat"><span><oj-bind-text value="[[totalInterns]]"></oj-bind-text></span> Registered</p>
                <p class="p-stat"><span><oj-bind-text value="[[totalInterns]]"></oj-bind-text></span> Active</p>
              </div>
            </div>
          </div>
        </div>
  </div></div>

<!-- Teams table -->
<div id="sampleDemo" class="demo-padding demo-container">
  <div
    id="componentDemoContent"
    style="width: 1px; min-width: 100%; min-height: 100%;"
  >
    <oj-table
      id="table"
      aria-label="Interns Table"
      data="[[overviewProvider]]"
      selection-mode='{"row": "multiple", "column": "multiple"}'
      dnd='{"reorder": {"columns": "enabled"}}'
      scroll-policy="loadMoreOnScroll"
      columns='[{"headerText": "Id", 
                "field": "id",
                "headerClassName": "oj-sm-only-hide",
                "className": "oj-sm-only-hide",
                "resizable": "enabled"},
              {"headerText": "Team Name", 
                "field": "team_name",
                "resizable": "enabled"},
              {"headerText": "Task", 
                "field": "task",
                "resizable": "enabled"},
              {"headerText": "Team Lead", 
                "field": "team_lead",
                "resizable": "enabled"},
              {"headerText": "Deadline", 
                "field": "deadline",
                "resizable": "enabled"},
              {"headerText": "Status", 
                "field": "status",
                "resizable": "enabled"}]'
      style="width: 100%; height: 100%;"
    >
    <oj-paging-control
    id="paging"
    data="[[overviewProvider]]"
    page-size="10"
    slot="bottom"
  >
  </oj-paging-control>
    </oj-table>
  </div>

</div>
