<div class="form_container oj-flex oj-helper-justify-content-center">
    <div class="oj-md-5 oj-sm-12 oj-md-align-self-center oj-sm-align-self-center">
        <div id="form_wrapper">
            <oj-form-layout>
                <div id="lform_components">
                    <div class="form-container">
                        <h5 class="fhtitle">
                            Reset your password
                        </h5>
                        <div id="fbk"></div>
                        <div class="lform-ctrl oj-form-control-inherit">
                            <input type="email" data-bind="textInput: email" placeholder="Email address"></input>
                        </div>
                        <div class="lform-ctrl oj-form-control-inherit">
                            <input type="password" data-bind="textInput: pass" placeholder="New password"></input>
                        </div>
                        <div class="lform-ctrl oj-form-control-inherit">
                            <input type="password" data-bind="textInput: rpass" placeholder="Confirm password"></input>
                        </div>
                        <div>
                            <button class=" fbtn w-100" data-bind="click: reset"><i class="fa fa-refresh"></i> &nbsp; Reset password </button>
                        </div>
                    </div>
                </div>
            </oj-form-layout>
        </div>
        <!-- <div class="text-center mt-4">
            <button data-bind="click: reset" class="btn btn-dark p-3 px-5">Login to your account</button>
        </div> -->
    </div>
</div>