<!-- modal display for post functionalities -->
<oj-dialog id="viewModal" title="View post" class=" position-absolute col-12 col-md-9 mt-5 p-0" modality="modal"
  position.at.vertical="top">
  <div slot="body">
    <div>
      <h5>
        <oj-bind-text class="oj-text-secondary-color" value="[[post().post_title]]"></oj-bind-text> <small> By Me
        </small>
      </h5>
    </div>
    <div style="word-wrap: break-word">
      <oj-bind-text value="[[post().post_body]]"></oj-bind-text>
    </div>
    <p class="h6 mt-3 mb-0"> <i class="oj-fwk-icon oj-fwk-icon-calendar mr-2"></i>
      <oj-bind-text value="[[post().created_at]]"></oj-bind-text>
    </p>
  </div>

</oj-dialog>

<oj-dialog id="editModal" dialog-title="Edit post" class=" position-absolute col-12 col-md-8 mt-5 p-0" modality="modal"
  position.at.vertical="top">
  <div slot="body">
    <div class="form-group">
      <oj-label class="oj-label oj-label-inline">Category</oj-label>
      <select
        data-bind="options: categories, optionsText: 'category_name',  optionsValue:'id', optionsCaption: 'Select category', value: category_id,"
        class="form-control">
      </select>
    </div>
    <div class="form-group">
      <oj-label class="oj-label oj-label-inline">Post title</oj-label>
      <input data-bind="textInput: post().post_title" type="text" class="form-control">
    </div>
    <div class="form-group">
      <oj-label class="oj-label oj-label-inline">Post body</oj-label>
      <textarea data-bind="textInput: post().post_body" class="form-control" rows="10"></textarea>
    </div>
    <button data-bind="click: updatePost" class="btn btn-success">
      Update post
    </button>
  </div>
</oj-dialog>

<oj-dialog id="deleteModal" title="Delete post" position.at.vertical="top" class="mt-5">
  <div slot="body">
    <p>
      Confirm you want to delete this post?
    </p>
    <button data-bind="click: deletePost" class="btn btn-danger">Delete post</button>
  </div>
</oj-dialog>


<div class="row">
  <oj-bind-if test="[[post_btn_toggler()]]">
    <div class="col-sm-12">
      <div>
        <h4 class="float-left">Create a new post</h4>
        <p class="btn btn-info float-right" data-bind="click: post_view_toggle">
          <span data-bind="text: post_view_title"></span>
        </p>
      </div>
      <div class="clearfix"></div>
      <div class="my-3">
        <select
          data-bind="options: categories, optionsText: 'category_name',  optionsValue:'id', optionsCaption: 'Select category', value: category_id"
          class="form-control">
        </select>
      </div>
      <div class="my-3">
        <input data-bind="textInput: newpost().title" type="text" placeholder="Title of the post"
          class="form-control" />
      </div>
      <textarea data-bind="textInput: newpost().body" class="form-control my-3" placeholder="Your post here"
        style="height: 200px;">
      </textarea>
      <div class="my-3">
        <input data-bind="click: createPost" type="submit" class="btn btn-success" value="Create post" />
      </div>
    </div>
  </oj-bind-if>
  <oj-bind-if test="[[!post_btn_toggler()]]">
    <div class="col-sm-12">
      <div>
        <h4 class="float-left">My posts</h4>
        <p class="btn btn-info float-right" data-bind="click: post_view_toggle">
          <span data-bind="text: post_view_title"></span>
        </p>
      </div>
      <div class="clearfix"></div>
      <oj-list-view id="Postmodel-post-list" class="col-12 col-md-7 overflow-hidden bg-light p-0"
        data="[[dataProvider]]" selection-mode="single" on-selected-changed="[[postSelectedChanged]]"
        first-selected-item="{{postSelected}}">
        <template slot="itemTemplate" data-oj-as="item" class="border-0">
          <div>
            <strong class="text-capitalize d-block mb-1">
              <oj-bind-text value="[[item.data.post_title]]"></oj-bind-text>
            </strong>
            <div class="d-block d-sm-flex justify-content-between align-items-center">
              <p class="py-3 m-0 oj-text-sm oj-text-secondary-color">
                <i class="oj-fwk-icon oj-fwk-icon-calendar mr-2"></i>
                <oj-bind-text value="[[item.data.created_at]]"></oj-bind-text>
                <span class="ml-1 font-weight-bold" data-bind="text: `By Me`"></></span>
              </p>
              <div>
                <button data-bind="click: viewPostModal" class="btn btn-sm btn-info mr-2"><i
                    class="fa fa-eye"></i></button>
                <button data-bind="click: editPostModal" class="btn btn-sm btn-dark mr-2"><i
                    class="fa fa-edit"></i></button>
                <button data-bind="click: deletePostModal" class="btn btn-sm btn-danger"><i
                    class="fa fa-trash-o"></i></button>
              </div>
            </div>
          </div>

        </template>
      </oj-list-view>
    </div>
</div>

<!-- Start Messages Component -->

<oj-messages id="application-messages" messages="{{applicationMessages}}" display="notification" position='{
  "my": {"vertical" : "bottom", "horizontal": "end"},
  "at": {"vertical": "bottom", "horizontal": "end"},
  "of": "window"
  }'>
</oj-messages>

<!-- End Messages Component -->
