<div class="oj-hybrid-padding">
  <div class="row">
    <oj-bind-if test="[[post_btn_toggler()]]">
      <div class="col-sm-12">
        <div>
          <h4 class="float-left">Create a new post</h4>
          <p class="btn btn-info float-right" data-bind="click: post_view_toggle">
            <span data-bind="text: post_view_title"></span>
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="my-3">
          <select
            data-bind="options: categories, optionsText: 'category_name',  optionsValue:'id', optionsCaption: 'Select category', value: category_id"
            class="form-control">
          </select>
        </div>
        <div class="my-3">
          <input data-bind="textInput: post_title" type="text" placeholder="Title of the post" class="form-control" />
        </div>
        <textarea data-bind="textInput: post_body" class="form-control my-3" placeholder="Your post here"
          style="height: 200px;">
      </textarea>
        <div class="my-3">
          <input data-bind="click: newpost" type="submit" class="btn btn-success" value="Create post" />
        </div>
      </div>
    </oj-bind-if>
    <oj-bind-if test="[[!post_btn_toggler()]]">
      <div class="col-sm-12">
        <div>
          <h4 class="float-left">My posts</h4>
          <p class="btn btn-info float-right" data-bind="click: post_view_toggle">
            <span data-bind="text: post_view_title"></span>
          </p>
        </div>
        <div class="clearfix"></div>
        <oj-list-view id="Postmodel-post-list" class="w-100 overflow-hidden bg-light" data="[[dataProvider]]"
          selection-mode="single" scroll-policy="loadMoreOnScroll" scroll-policy-options.fetch-size="5">
          <template slot="itemTemplate" data-oj-as="item" class="border-0">
            <div>
              <div>
                <strong class="text-capitalize">
                  <oj-bind-text value="[[item.data.post_title]]"></oj-bind-text>
                  <p><small> data-bind="text: `By Me`"></></small></p>
                  <p></p>
                </strong>
              </div>
              
              <div class="mt-3">
                  <button class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>
                  <button class="btn btn-sm btn-dark"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
              </div>

              <!-- <div class="my-2 ">
                <span style="word-wrap: break-word">
                  <oj-bind-text value="[[item.data.post_body]]"></oj-bind-text>
                </span>
              </div>
              <span>
                Posted: <oj-bind-text value="[[item.data.created_at]]"></oj-bind-text>
              </span> -->
            </div>
          </template>
        </oj-list-view>
      </div>
  </div>