<style>
    #posts .col-md-12 strong {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #768093;
    }

    #posts .col-md-12 .date {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #C4C4C4;
    }

    #posts .col-md-12 p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: #768093;
    }

    #posts .col-md-12 .profile,
    #posts .col-md-12 .profile img {
        max-width: 75px;
        max-height: 75px;
        background-blend-mode: normal;
    }

    .info {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        color: #0349BA;
    }

    #posts .wrap {
        display: flex;
        align-items: center;
        flex-basis: 200;
    }

    #posts .bio {
        margin-left: 10px;
    }

    #posts .body {
        margin: 5px;
    }

    #posts .fa-comment {
        color: #1E7FF6;
    }
</style>
<div class="container-fluid" id="posts">
    <div class="row">
        <div class="col-10 info">
            <h5>My Posts</h5>
        </div>
        <div class="col-2 mb-2">
            <button class="btn btn-primary">New
                Post</button>
        </div>
    </div>
    <div style="background:#fff;">

        <div class="container oj-hybrid-padding">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="wrap">
                        <div class="profile">
                            <img src="../../css/images/avatar_24px_2x.png" alt="" srcset="">
                        </div>
                        <div class="bio">
                            <strong class="mr-2">Mark Essien</strong>
                            <span class="fa fa-eye mr-2 fa-1.5x"></span>
                            <span class="date">6:19pm</span>
                        </div>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quia doloribus eum mollitia
                            vero
                            velit. Sed commodi mollitia autem ratione cum. Fugit necessitatibus, quibusdam voluptatibus
                            facilis
                            numquam harum accusamus minus.</p>
                    </div>
                    <span class="fa fa-comment fa-1x"> 1</span>
                    <hr />
                </div>
                <div class="col-md-12 ">
                    <div class="wrap">
                        <div class="profile">
                            <img src="../../css/images/avatar_24px_2x.png" alt="" srcset="">
                        </div>
                        <div class="bio">
                            <strong class="mr-2">Mark Essien</strong>
                            <span class="fa fa-eye mr-2 fa-1.5x"></span>
                            <span class="date">6:19pm</span>
                        </div>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quia doloribus eum mollitia
                            vero
                            velit. Sed commodi mollitia autem ratione cum. Fugit necessitatibus, quibusdam voluptatibus
                            facilis
                            numquam harum accusamus minus.</p>
                    </div>
                    <span class="fa fa-comment fa-1x"> 2</span>
                    <hr />
                </div>
                <div class="col-md-12 ">
                    <div class="wrap">
                        <div class="profile">
                            <img src="../../css/images/avatar_24px_2x.png" alt="" srcset="">
                        </div>
                        <div class="bio">
                            <strong class="mr-2">Mark Essien</strong>
                            <span class="fa fa-eye mr-2 fa-1.5x"></span>
                            <span class="date">6:19pm</span>
                        </div>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quia doloribus eum mollitia
                            vero
                            velit. Sed commodi mollitia autem ratione cum. Fugit necessitatibus, quibusdam voluptatibus
                            facilis
                            numquam harum accusamus minus.</p>
                    </div>
                    <span class="fa fa-comment fa-1x"> 0</span>
                    <hr />
                </div>

                <div class="col-md-12">
                    <div class="wrap">
                        <div class="profile">
                            <img src="../../css/images/avatar_24px_2x.png" alt="" srcset="">
                        </div>
                        <div class="bio">
                            <strong class="mr-2">Mark Essien</strong>
                            <span class="fa fa-eye mr-2 fa-1.5x"></span>
                            <span class="date">6:19pm</span>
                        </div>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quia doloribus eum mollitia
                            vero
                            velit. Sed commodi mollitia autem ratione cum. Fugit necessitatibus, quibusdam voluptatibus
                            facilis
                            numquam harum accusamus minus.</p>
                    </div>
                    <span class="fa fa-comment fa-1x"> 3</span>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>