<div class="mt-5 pt-5 col-sm-7 col-lg-6 col-md-6 col-12 mx-auto px-0">
  <div class="card">
    <div class="text-center mt-n5">
      <div class="position-relative">
        <div class="position-absolute h-75 w-100 justify-content-center align-items-center d-flex text-dark"> 
          <span class="fa fa-stack fa-2x" data-bind="visible: editing, click: select_file"> 
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-camera fa-stack-1x fa-inverse" style="font-size: .7em"></i>
          </span>
          <input type="file" class="d-none" id="profilephoto">
        </div>
        <img class="profile_img mt-n5 rounded-circle" width="150" height="150" role="" src="/css/images/smiley.png">
      </div> 
      <div class="mt-2">
        <button class="btn-md btn btn-dark" data-bind="click: editprofile"> Edit profile </button>
      </div>
    </div>

    <div class="card-body px-0">

      <div class="container">
        <div class="row">

          <div class="form-group col-md-6">
            <label class="d-block">Firstname</label>
            <input type="text" class="form-control" data-bind="textInput: firstname, enable: editing">
          </div>

          <div class="form-group col-md-6">
            <label class="d-block">Last name</label>
            <input type="text" class="form-control" data-bind="textInput: lastname, enable: editing">
          </div>

          <div class="form-group col-md-6">
            <label class="d-block">Username</label>
            <input type="text" class="form-control" data-bind="textInput: username, enable: editing">
          </div>

          <div class="form-group col-md-6">
            <label class="d-block">Email address</label>
            <input type="text" class="form-control" data-bind="textInput: email, enable: editing">
          </div>

          <div class="form-group col-12" >
            <label class="d-block">Bio</label>
            <textarea  rows="5" class="form-control" data-bind="textInput: bio, enable: editing"></textarea>
          </div>

        </div>
        <div class="text-center" data-bind="visible: editing">
          <button type='submit' class="btn btn-danger fbtn mr-2"  style="width: 10rem" data-bind="click: cancelediting">Cancel</button>
          <button type='submit' class="btn btn-primary fbtn" style="width: 10rem" data-bind="click:  update">Update</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- User profile ends here -->

<oj-messages id="application-messages" messages="{{applicationMessages}}" display="notification" position='{
             "my": {"vertical" : "bottom", "horizontal": "end"},
             "at": {"vertical": "bottom", "horizontal": "end"},
             "of": "window"
             }'>
</oj-messages>


</div>

