<div class="form_container oj-flex oj-helper-justify-content-center">
  <div class="oj-md-5 oj-sm-12 oj-md-align-self-center oj-sm-align-self-center">
    <h5 class="ftitle">
      Create an account
    </h5>
    <div id="form_wrapper" class="position-relative">
      <oj-form-layout id="formlayout">
        <div id="lform_components">
          <!-- <div class="form-header"><h2>Hello Newbie!</h2></div> -->
          <div class="form-container">
            <div id="fbk"></div>
            <div id="profileinfo">
              <h5 class="fhtitle" class="oj-helper-text-align-left">
                Profile Information
              </h5>
              <div class="d-lg-flex d-md-flex justify-content-between">
                <div class="p-0 pr-lg-2 pr-md-2 col-md-6 col-sm-12">
                  <div class="lform-ctrl">
                    <input type="text" placeholder="First name" data-bind="textInput: firstname"></input>
                  </div>
                </div>
                <div class="p-0 pl-lg-2  pl-md-2 col-md-6 col-sm-12">
                  <div class="lform-ctrl oj-form-control-inherit">
                    <input type="text" placeholder="Last name" data-bind="textInput: lastname"></input>
                  </div>
                </div>
              </div>
              <div class="select oj-form-control-inherit">
                <oj-select-one value="{{ stack }}">
                  <oj-optgroup label="Dev stack">
                    <oj-option value="UI/UX Designer">UI/UX</oj-option>
                    <oj-option value="Front end">Front end</oj-option>
                    <oj-option value="Back end">Back end</oj-option>
                    <oj-option value="Mobile">Mobile</oj-option>
                    <oj-option value="Digital Marketing">Digital Marketing</oj-option>
                    <oj-option value="Machine Learning">Machine Learning</oj-option>
                  </oj-optgroup>
                </oj-select-one>
              </div>
              <div class="lform-ctrl oj-form-control-inherit">
                <input type="text" placeholder="Location" data-bind="textInput: location"></input>
              </div>
              <button class=" fbtn" id="next">
                Next
              </button>
            </div>
            <div id="accinfo">
              <h5 class="fhtitle" class="oj-helper-text-align-left">
                Account Information
              </h5>
              <div class="lform-ctrl">
                <input type="text" placeholder="Username" data-bind="textInput: username"></input>
              </div>
              <div class="lform-ctrl">
                <input type="email" placeholder="Email address" data-bind="textInput: email"></input>
              </div>
              <div class="lform-ctrl">
                <input type="password" placeholder="Password" data-bind="textInput: pass"></input>
              </div>
              <div class="lform-ctrl">
                <input type="password" placeholder="Confirm password" data-bind="textInput: rpass"></input>
              </div>
              <div class="oj-flex oj-helper-justify-content-space-between">
                <div class="oj-flex-items-pad">
                  <button class="fbtn" id="prev">
                    Previous
                  </button>
                </div>
                <div class="oj-flex-items-pad">
                  <button data-bind="click: signup" class="fbtn bg-success">
                    Sign up
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </oj-form-layout>
    </div>
    <div class="text-center mt-4">
      <button data-bind="click: login" class="btn btn-dark p-3 px-5">
        Login to your account
      </button>
    </div>
  </div>
</div>