
 

<div class="oj-xl-8 oj-lg-8 oj-md-8 oj-flex-item">
     <table class="table table-striped">
                   <oj-table id="table" aria-label="Teams"
                                              data='[[dataprovider]]'
                                              columns-default='{"sortable": "disabled"}' 
                                              columns='[{"headerText": "Team Names", 
                                                         "field": "TeamName"},
                                                        {"headerText": "Team Leads", 
                                                         "field": "TeamLead"},
                                                        {"headerText": "Members", 
                                                         "field": "Member"}]',
                                              style='width: 50%; height:100%;'>
                  </oj-table>
                  </table>
              </div>

             



              
               