<div class="oj-flex oj-hybrid-padding">
    <div class="oj-flex-item oj-md-8">
        <oj-button id="newTeam" on-oj-action="[[addNewTeamDialog]]">
            Add Team
        </oj-button>
        <oj-table aria-label="Teams Table" data='{{teamsDataProvider}}' columns='[
        {"headerText": "TEAM NAME", "field": "team_name", "sortable": "enabled", "style": "width: 40%"},
            {"headerText": "TEAM LEADER", "field": "team_leader", "sortable": "disabled", "style": "width: 40%"},
            {"headerText": "MEMBERS", "field": "members", "sortable": "enabled", "style": "width: 20%"}]' style='width: 100%;' selectionMode='{"row": "single", "column": "none"}'>
        </oj-table>
    </div>
    <div class="oj-flex-item oj-md-4">
        <oj-button id="newMember" on-oj-action="[[addNewMemberDialog]]">
            New Member
        </oj-button>
        <oj-table aria-label="Members Table" data='{{teamsDataProvider}}' columns='[{"headerText": "ID", "field": "id", "sortable": "enabled", "style": "width: 10%"},
              {"headerText": "NAME", "field": "fullname", "sortable": "disabled", "style": "width: 50%"},
              {"headerText": "TRACK", "field": "stack", "sortable": "enabled", "style": "width: 40%"}]' style='width: 100%;' selectionMode='{"row": "single", "column": "none"}'>
        </oj-table>
    </div>
</div>
<!-- create new  team modal -->
<oj-dialog id="createTeamDialog" style="display:none" title="Create a New Team">
    <div slot="body">
        <oj-label class="oj-label oj-label-inline" for="newTeamName">Team Name</oj-label>
        <oj-input-text id="newTeamName" value='{{team_name}}'></oj-input-text>
    </div>
    <div slot="footer">
        <oj-button id="submitBtn" on-oj-action="[[createTeam]]">Submit</oj-button>
    </div>
</oj-dialog>

<!-- add new  member modal -->
<oj-dialog id="addMemberDialog" style="display:none" title="Add New Member">
    <div slot="body">
        <oj-label class="oj-label oj-label-inline" for="newTeamMember">Name</oj-label>
        <oj-input-text id="newTeamMember" value='{{fullname}}'></oj-input-text>
    </div>
    <div slot="footer">
        <oj-button id="submitBtn" on-oj-action="[[addMember]]">Submit</oj-button>
    </div>
</oj-dialog>