<span class="btn btn-primary" data-bind="click: createTrack"><i class="fa fa-plus plus"></i>Create New Track</span>
<div id="listviewContainer">
  <oj-list-view id="listview"  aria-label="list with card layout for items in group" 
       data="[[dataProvider]]" drill-mode="none" selected="{{selectedItems}}"
       selection-required="[[selectedSelectionRequired]]"
       selection-mode="multiple"
       on-selected-changed="[[handleSelectionChanged]]"
       on-current-item-changed="[[handleCurrentItemChanged]]" 
       first-selected-item="{{firstSelectedItem}}">
    <template slot="itemTemplate" data-oj-as="item">
        <!-- template for items -->
        <div class="p-2 border rounded bg-light" style="width: 100%">
            <div>
              <strong class="text-capitalize">
                <oj-bind-text value="[[item.data.track_name]]"></oj-bind-text>
              </strong>
              <i class="fa fa-pencil pencil float-right" data-bind="click: editTrack"></i>&nbsp;
              &nbsp;&nbsp;<i class="fa fa-trash trash float-right" data-bind="click: deleteTrack"></i>
            </div>
            <div class="my-2 ">
              <span style="word-wrap: break-word">
                <oj-bind-text value="[[item.data.track_description]]"></oj-bind-text>
              </span>
            </div>
            <span>
              Created: <oj-bind-text value="[[item.data.created_at]]"></oj-bind-text>
            </span>
          </div>
  
    </template>       
  </oj-list-view>
  </oj-list-view>
</div>
