<div class="oj-flex oj-sm-justify-content-center mt-2">
        
    <div class="col-sm-12 col-md-12">
        <div class="row my-4">
            <div class="mx-auto text-center">
                    <h3 class="mb-3">Please Find All Track Requests Here</h3>
            </div>
        </div>


        <div class="clearfix"></div>
        <oj-list-view id="listview" class="mx-auto overflow-hidden bg-light p-0" aria-label="listview with paging control" data="[[dataProvider]]" drill-mode="none">
            <template slot="itemTemplate" data-oj-as="item" class="border-0">
                    <!-- template for items -->
                    <div class="p-4 border rounded bg-light" style="width: 100%; color: #4e5769 !important">
                        <div class="oj-sm-12">
                            <div class="oj-sm-12">
                                <div class="mb-2">
                                    <strong><span data-bind="text: item.data.user.firstname"></span> <span data-bind="text: item.data.user.lastname"></span></strong>
                                </div>
                                <em><p><blockquote>
                                    <oj-bind-text value="[[item.data.message]]"></oj-bind-text>
                                </blockquote>
                                </p></em>
                            </div>
                        </div>
                        <span>
                            <small>
                                <oj-bind-text value="[[formatDateTime(item.data.created_at)]]"></oj-bind-text>
                            </small>
                        </span>
                    </div>

                </template>
        </oj-list-view>
        <oj-paging-control id="paging" data="[[dataProvider]]" page-size="10" slot="bottom">
        </oj-paging-control>


    </div>
</div>