<div class="container">
  <div class="row">
    <div class="card oj-md-11 mx-auto mt-3">
      <div class="card-body">
        <button class="btn btn-info float-right" data-bind="click: Home">
          <span>Go back</span>
        </button>
        <div class="oj-flex">
          <div class="oj-flex-item oj-sm-2">
            <oj-avatar> </oj-avatar>
          </div>
          <div class="oj-flex-item oj-sm-8 mx-auto">
            <div>
              <h2>
                <oj-bind-text value="[[fullName]]"></oj-bind-text>
              </h2>
            </div>
            <div>
              <span><strong>Code:</strong></span>
              <span>
                <oj-bind-text>HNG_1234</oj-bind-text>
              </span>
            </div>
            <div>
                <span><strong>Role:</strong></span
                ><span>
                  <oj-bind-text value="[[role]]"></oj-bind-text>
                </span>
              </div>
            <div>
              <span><strong>Track:</strong></span>
              <span>
                <oj-bind-text>Back End</oj-bind-text>
              </span>
            </div>
            <div>
              <span>
                <span><strong>Team:</strong></span>
                <oj-bind-text value="[[team]]"></oj-bind-text>
              </span>
            </div>
            <div>
              <span><strong>Stage:</strong></span
              ><span>
                <oj-bind-text value="[[stage]]"></oj-bind-text>
              </span>
            </div>
            <div class="oj-flex mt-4">
              <div>
                <button
                  id="createButton"
                  class="btn btn-outline-success mr-2"
                  data-bind="click: promote"
                >
                  Promote
                </button>
              </div>
              <div>
                <button
                  id="createButton"
                  class="btn btn-outline-danger mr-2"
                  data-bind="click: demote"
                >
                  Demote
                </button>
              </div>
              <div>
                <button
                  id="createButton"
                  class="btn btn-outline-warning mr-2"
                  data-bind=""
                >
                  Update Stage
                </button>
              </div>
              <div id="menubutton-container">
                <oj-menu-button id="menuButton">
                  More Actions
                  <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                  <oj-menu
                    id="myMenu"
                    slot="menu"
                    style="display:none"
                    on-oj-action="[[menuItemAction]]"
                  >
                    <oj-bind-if test="[[isUser()]]">
                      <oj-option id="zoomin" value="Make Admin">
                        <span
                          class="oj-fwk-icon oj-fwk-icon-arrow-n"
                          slot="startIcon"
                        ></span
                        >Make Admin
                      </oj-option>
                    </oj-bind-if>
                    <oj-bind-if test="[[!isUser()]]">
                      <oj-option
                        id="zoomout"
                        value="Make User"
                      >
                        <span
                          class="demo-icon-font demo-bookmark-icon-16"
                          slot="startIcon"
                        ></span
                        >Make User
                      </oj-option>
                    </oj-bind-if>
                    <oj-option id="divider"></oj-option>
                    <oj-bind-if test="[[activate()]]">
                      <oj-option id="save" value="Activate">
                        <span
                          class="demo-icon-font demo-palette-icon-24"
                          slot="startIcon"
                        ></span
                        >Activate
                      </oj-option>
                    </oj-bind-if>
                    <oj-bind-if test="[[!activate()]]">
                      <oj-option id="print" value="Deactivate">
                        <span
                          class="demo-icon-font demo-chat-icon-24"
                          slot="startIcon"
                        ></span
                        >Deactivate
                      </oj-option>
                    </oj-bind-if>
                    <oj-option id="print" value="Add to track">
                      <span
                        class="demo-icon-font demo-chat-icon-24"
                        slot="startIcon"
                      ></span
                      >Add to track
                    </oj-option>
                    <oj-option id="print" value="Remove to track">
                      <span
                        class="demo-icon-font demo-chat-icon-24"
                        slot="startIcon"
                      ></span
                      >Remove from track
                    </oj-option>
                    <oj-option id="print" value="Add to team">
                      <span
                        class="demo-icon-font demo-chat-icon-24"
                        slot="startIcon"
                      ></span
                      >Add to team
                    </oj-option>
                    <oj-option id="print" value="Remove from team">
                      <span
                        class="demo-icon-font demo-chat-icon-24"
                        slot="startIcon"
                      ></span
                      >Remove from team
                    </oj-option>
                    <oj-option id="print" value="Remove from team">
                        <span
                          class="demo-icon-font demo-chat-icon-24"
                          slot="startIcon"
                        ></span
                        >Delete
                      </oj-option>
                  </oj-menu>
                </oj-menu-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
