/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description: 
        This is where any of your application specific styles should be included
*/

/*style for the form container*/

.form_container {
  margin-bottom: 5ch;
  min-height: 100%;
  margin-bottom: 5ch;
  padding: 0px 15px;
}

#form_wrapper {
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(16, 16, 16, 0.37);
  border-radius: 3px;
}

.ftitle {
  color: rgba(3, 2, 2, 0.7);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 49px;
  text-align: center;
}

.fhtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 49px;
  color: #9b51e0;
}

#lform_components {
  width: 90%;
  margin: auto;
}

.lform-ctrl > input,
.select {
  background: #dedcdcc2;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
  border: none;
}

.progress {
  height: 25px;
}

.fbtn {
  background-color: #81044d;
  height: 45px;
  width: 100%;
  text-align: center;
  color: white !important;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #32023a !important;
  border: none !important;
  outline: none !important;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#accinfo {
  display: none;
}

.footer {
  min-height: auto !important;
  font-weight: bold;
  width: 100%;
}

/* =============== SUBMISION PAGE ================ */

.task-submission {
  text-align: center;
  margin: 3rem 0;
  font-weight: bold;
  font-size: 2rem;
}

.form {
  background-color: #fff;
  display: flex !important;
  flex-direction: column !important;
  padding: 1rem 5rem;
  width: 100%;
  height: auto;
  margin: 5em 0;
  border: 1px solid white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.form .oj-label-group {
  font-weight: 1000;
}
.message {
  display: none;
}
.error {
  color: rgb(175, 5, 5);
}
.success {
  color: rgb(111, 236, 111);
}

@media (max-width: 768px) {
  .form {
    padding: 1rem 2rem;
    min-width: 100%;
  }
}

/* End of Submission Page styling */

/* Dashboard page @shazomii-ojet */

.oj-offcanvas-outer-wrapper {
  height: 100%;
}

.oj-offcanvas-start {
  width: 20em;
}

/* div.form-header {
  padding: 20px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #9b51e0;
}

div.form-container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
} */

/* oj-form-layout {
  background-color: #dedcdcc2;
} */

/* oj-input-text {
  background: transparent;
  height: 100%;
  width: 100%;
} */

/* admin_dashboard page */
.header {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: rgb(40, 40, 75);
  z-index: 4;
}

.side-nav {
  position: absolute;
  width: 100%;
  background-color: darkblue;
  height: 100vh;
  z-index: 3;
  padding-top: 44px;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav ul li {
  padding: 20px 10px;
  border-bottom: 1px solid black;
}

.side-nav ul li a {
  color: white;
  text-decoration: none;
}

.side-nav ul li a i {
  color: black;
}
@media screen and (min-width: 600px) {
  .side-nav {
    width: 80px;
  }
  .side-nav ul li {
    text-align: center;
  }
  .side-nav ul li span:nth-child(2) {
    display: none;
  }
  .side-nav ul li i {
    font-size: 26px;
  }
}
@media screen and (min-width: 1000px) {
  .side-nav {
    width: 200px;
  }
  .side-nav ul li {
    text-align: left;
  }
  .side-nav ul li span:nth-child(2) {
    display: inline;
  }
  .side-nav ul li i {
    font-size: 16px;
  }
}

/* User profile*/
.main-section {
  border: #9b51e0 1px solid;
  box-shadow: #32023a 3px 5px 15px;
  padding: 20px;
}
.aside {
  width: 30%;
}
.main-section {
  width: 50%;
}

p.text {
  margin-top: 10px;
}
:hover {
  cursor: pointer;
}
