/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description: 
        This is where any of your application specific styles should be included
*/

/*style for the form container*/

.boot-page {
  background: white;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: slide 3s ease 3.5s forwards;
}
@keyframes slide {
  from {
    display: block;
  }
  to {
    width: 0px;
      height: 0px;   
     }
}

.form_container {
  margin-bottom: 5ch;
  min-height: 100%;
  margin-bottom: 5ch;
  padding: 0px 15px;
}

/* default */

.image {
  position: absolute;
  width: 200px;
  height: 35.42px;
  left: 100px;
  top: 35px;

  background-image: url(./images/default.png);
}

#form_wrapper {
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(16, 16, 16, 0.37);
  border-radius: 3px;
}

.ftitle {
  color: rgba(3, 2, 2, 0.7);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 49px;
  text-align: center;
}

.fhtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 49px;
  color: #9b51e0;
}

#lform_components {
  width: 90%;
  margin: auto;
}

.lform-ctrl > input,
.select {
  background: #dedcdcc2;
  border-radius: 4px;
  padding: 15px;
  /* margin-bottom: 20px; */
  width: 100%;
  outline: none;
  border: none;
  margin-top: 20px;
}

.progress {
  height: 25px;
}

.inputs {
  font-size: 8pt;
  font-weight: lighter;
  height: 35px;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.fbtn {
  background-color: #488eff;
  width: 300px;
  text-align: center;
  margin-top: 20px;
  color: white !important;
  /* box-shadow: 0px 1px 5px #011941 !important; */
  border: none !important;
  outline: none !important;
  font-size: 8pt;
  padding: 5px;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

#accinfo {
  display: none;
}

.footer {
  min-height: auto !important;
  font-weight: bold;
  width: 100%;
  z-index: 10;
}

/* =============== SUBMISION PAGE ================ */

.task-submission {
  text-align: center;
  margin: 3rem 0;
  font-weight: bold;
  font-size: 2rem;
}

.form {
  background-color: #fff;
  display: flex !important;
  flex-direction: column !important;
  padding: 1rem 5rem;
  width: 100%;
  height: auto;
  margin: 5em 0;
  border: 1px solid white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.form .oj-label-group {
  font-weight: 1000;
}
.message {
  display: none;
}
.error {
  color: rgb(175, 5, 5);
}
.success {
  color: rgb(111, 236, 111);
}

@media (max-width: 768px) {
  .form {
    padding: 1rem 2rem;
    min-width: 100%;
  }
}

/* End of Submission Page styling */

/* Dashboard page @shazomii-ojet */

.oj-offcanvas-outer-wrapper {
  height: 100%;
}

.oj-offcanvas-start {
  width: 20em;
}

/*admin_dashboard*/
.logo {
  color: #474748 !important;
}
#sidebar {
  width: 200px;
  position: fixed;
  bottom: 0;
  z-index: 5;
  background-color: #ffffff;
  box-shadow: 0px 6px 10px rgba(118, 128, 147, 0.5);
}
#sidebar.smactive {
  display: none;
}
#sidebar li {
  line-height: 18px;
  height: 60px;
}
#sidebar li a * {
  font-weight: 500;
  font-size: 15px;
  color: #768093 !important;
}
#sidebar li a:hover {
  text-decoration: none !important;
}
#sidebar .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected {
  background-color: #f4f6f9;
}
#sidebar .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected i {
  color: #03a9f4 !important;
}
#sidebar li i {
  width: 20px;
  font-size: 1.2em !important;
}
#maincontent {
  margin-left: 200px;
  overflow: hidden;
}
#maincontent.smactive {
  margin-left: 0px;
}
#maincontent_nav {
  background-color: #ffffff;
  padding: 15px;
}
#maincontent_body > div:not(#overview-admin) {
  display: none;
}
.input__profile {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .logo span {
    display: none;
  }
  #sidebar {
    width: auto;
    padding: 0px 10px;
    display: none;
  }
  #sidebar.smactive {
    display: block;
  }
  #sidebar li i {
    width: fit-content;
  }
  #sidebar
    .oj-navigationlist-vertical.oj-navigationlist-icon-only
    .oj-navigationlist-item.oj-selected
    .oj-navigationlist-item-icon {
    color: whitesmoke !important;
    text-decoration: none;
  }
  #sidebar .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected {
    background-color: transparent;
  }
  #maincontent {
    margin-left: 0px;
  }
  #maincontent.smactive {
    margin-left: 65px;
  }
}
.posts li.oj-listview-item{
  background: none !important; 
  border: none !important
}

@media only screen and (min-width: 420px) {
  .input__profile {
    max-width: 80%;
  }
}
