<div class="oj-panel oj-panel-shadow-sm">
    <h5 id="h1" slot="header">
        <oj-bind-text value="[[$properties.taskTitle]]"></oj-bind-text>
    </h5>
    <p>
        <oj-bind-text value="[[$properties.details]]"></oj-bind-text>
    </p>
    <div class="oj-flex oj-sm-justify-content-flex-end">
        <div class="oj-flex-items-pad oj-md-padding-4x-horizontal">
            <oj-button class="oj-button-sm oj-button-primary" chroming="full">
                View details
            </oj-button>
        </div>
        <div class="oj-flex-items-pad">
            <oj-button class="oj-button-sm oj-button-confirm" chroming="full">
                Submit
            </oj-button>
        </div>
    </div>
</div>