<section class="page__container h-100">
    <div>
        <div id="sidebar" class=" h-100">
            <h5 class="my-4 text-light logo text-center">
                <i class="oj-navigationlist-item-icon fa  fa-bandcamp"></i> <span>HNG
                    BOARD</span>
            </h5>
            <oj-navigation-list display="[[isSmall() ? 'icons' : 'all']]" selection="{{ selectedItem }}">
                <ul>
                    <li id="Dashboard">
                        <a for="overview-admin">
                            <i class="oj-navigationlist-item-icon fa fa-dashboard"></i>
                            DASHBOARD
                        </a>
                    </li>
                    <li id="Posts">
                        <a for="posts-admin">
                            <i class="oj-navigationlist-item-icon fa fa-newspaper-o"></i> POSTS
                        </a>
                    </li>
                    <li id="Categories">
                        <a for="categories-admin">
                            <i class="oj-navigationlist-item-icon fa fa-table"></i> CATEGORIES
                        </a>
                    </li>
                    <li id="Tasks">
                        <a for="tasks-admin">
                            <i class="oj-navigationlist-item-icon fa fa-list"></i> TASKS
                        </a>
                    </li>
                    <li id="Tracks">
                        <a for="tracks-admin">
                            <i class="oj-navigationlist-item-icon fa fa-road"></i> TRACKS
                        </a>
                    </li>
                    <li id="Teams">
                        <a for="teams-admin">
                            <i class="oj-navigationlist-item-icon fa fa-users"></i> TEAMS
                        </a>
                    </li>
                    <li id="Interns">
                        <a for="interns-admin">
                            <i class="oj-navigationlist-item-icon fa fa-user-o"></i>
                            INTERNS
                        </a>
                    </li>
                    <li id="Settings">
                        <a for="admin-settings">
                            <i class="oj-navigationlist-item-icon fa fa-cog"></i> SETTINGS
                        </a>
                    </li>
                </ul>
            </oj-navigation-list>
        </div>
        <div id="maincontent">
            <div class="d-flex" id="maincontent_nav">
                <div>
                    <h4 class=" oj-flex-item">
                        <i class="fa fa-bars mr-2 " data-bind="click: toggleDrawer"></i>
                        <span data-bind="text: selectedItem"></span>
                    </h4>
                </div>
                <span class="oj-flex oj-flex-item justify-content-end">
                    <h4 class="position-relative mr-3" style="top:2px"><i class=" fa fa-bell-o"></i></h4>
                    <form id="form1" class="mx-1">
                        <input id="inputSearch" placeholder="Search..." data-bind="ojComponent: {
                        component: 'ojInputSearch',
                        value: keyword,
                        options: tags,
                        rootAttributes: {style:'max-width: 20em'}}" />
                    </form>
                    <oj-button class="ml-3" display="icons" chroming="full" on-click="[[logout]]">
                        <span slot="startIcon" class="oj-navigationlist-item-icon fa fa-power-off"></span>
                        Logout
                    </oj-button>
                </span>
            </div>
            <div id="maincontent_body" class="px-3 w-100">
                <div id="overview-admin">
                    <h3 class="py-3">Hello <span data-bind="text: fullname"></span></h3>
                    <div data-bind="ojModule: 'overview'"></div>
                </div>

                <!-- Categories start -->
                <div id="categories-admin" class="my-4">
                    <h3>Categories</h3>
                    <div data-bind="ojModule: 'category'"></div>
                </div>

                <div id="posts-admin">
                    <div data-bind="ojModule: 'post'"></div>
                </div>

                <div id="tasks-admin">
                    <h3>Tasks</h3>
                </div>
                <div id="tracks-admin" class="p-2">
                    <h3>Overview</h3>

                    <div data-bind="ojModule: 'tracks'"></div>
                </div>
                <div id="teams-admin">
                    <h3>Teams</h3>
                </div>
                <div id="interns-admin">
                    <h3>Interns</h3>
                </div>
                <div class="oj-flex-item" id="admin-settings">
                    <h3>Your profile</h3>
                    <div class="position-relative d-flex">
                        <div class="position-absolute w-100 h-100 bg-success justify-content-center align-items-center">
                            <i class="fa fa-camera"></i>
                        </div>
                        <oj-file-picker on-oj-select="[[selectListener]]">
                            <div tabindex="0" slot="trigger">
                                <oj-avatar role="img" size="lg" data-bind="attr:{'aria-label':'Avatar of ' + name,
                                            'title':'Avatar of ' + name}"
                                    src="https://res.cloudinary.com/ebugo/image/upload/v1568954251/i5tdiajvcgkze1gjnblg.jpg">
                                </oj-avatar>
                            </div>
                        </oj-file-picker>
                    </div>
                    <div class="oj-hybrid-padding center">
                        <oj-form-layout id="form-container" style="display: inline-block">
                            <oj-input-text class="input__profile" id="input1" type="text" label-hint="Name"
                                data-bind="textInput:name"></oj-input-text>
                            <oj-input-text class="input__profile" id="input2" type="email" label-hint="Public email"
                                data-bind="textInput:email"></oj-input-text>
                            <oj-input-text class="input__profile" id="input3" type="text" label-hint="Display Name"
                                data-bind="textInput:displayName"></oj-input-text>
                            <oj-text-area class="input__profile" id="text-area" label-hint="Bio"
                                data-bind="textInput:bio">
                            </oj-text-area>
                            <oj-input-text class="input__profile" id="input4" type="text" label-hint="URL"
                                data-bind="textInput:url"></oj-input-text>
                            <oj-input-text class="input__profile" id="input5" type="text" label-hint="Location"
                                data-bind="textInput:location"></oj-input-text>
                            <h6>
                                All of the fields on this page are optional and can be deleted
                                at any time, and by filling them out, you're giving us consent
                                to share this data wherever your user profile appears.
                            </h6>

                            <oj-button class="fbtn" on-oj-action="[[buttonClick]]">Update Profile</oj-button>
                        </oj-form-layout>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>