<style>
    #categories .items {
        display: grid;
        grid-template-columns: 60px 3fr 1fr;
        height: 60px;
        max-width: 100%;

    }

    #categories .items:hover {
        background: #F3F8FE;
        border-left: 5px solid #2159A8;
    }

    #categories .items .title:hover {
        font-weight: 500;
    }

    #categories .items .title {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        color: #2159A8;
    }



    #categories .flex {
        align-content: center;
    }
</style>

<div id="categories">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" data-toggle="modal" data-target="#createcategory">Create New
                Category</button>
        </div>
    </div>
    <div class="container oj-hybrid-paddig" style="background:#fff;
    box-shadow: 0px 6px 10px rgba(161, 160, 160, 0.25); height: 500px ;">

        <div class="m-4 pt-4">
            <div class="items flex m-2">
                <div class="icon" style="margin: 5px auto">
                    <span class="fa fa-comments fa-2x"></span>
                </div>

                <div class="title" data-toggle="modal" data-target="#viewcategory">Anouncement</div>

                <div class="notify">
                    <span class="badge badge-pill badge-danger badge-lg" style="font-size:15px">5</span>
                </div>
            </div>

            <div class="items flex  m-2">
                <div class="icon" style="margin: 5px auto">
                    <span class="fa fa-comments fa-2x"></span>
                </div>

                <div class="title" data-toggle="modal" data-target="#viewcategory">Random</div>

                <div class="notify">
                    <span class="badge badge-pill badge-danger badge-lg" style="font-size:15px">5</span>
                </div>
            </div>

            <div class="items flex m-2">
                <div class="icon" style="margin: 5px auto">
                    <span class="fa fa-comments fa-2x"></span>
                </div>

                <div class="title" data-toggle="modal" data-target="#viewcategory">Frontend</div>

                <div class="notify">
                    <span class="badge badge-pill badge-danger badge-lg" style="font-size:15px">5</span>
                </div>
            </div>

            <div class="items flex m-2">
                <div class="icon" style="margin: 5px auto">
                    <span class="fa fa-comments fa-2x"></span>
                </div>

                <div class="title" data-toggle="modal" data-target="#viewcategory">Backend</div>

                <div class="notify">
                    <!-- <span class="badge badge-pill badge-danger badge-lg" style="font-size:15px">5</!-->
                </div>
            </div>

            <div class="items flex m-2">
                <div class="icon" style="margin: 5px auto">
                    <span class="fa fa-comments fa-2x"></span>
                </div>

                <div class="title" data-toggle="modal" data-target="#viewcategory">Design</div>

                <div class="notify">
                    <span class="badge badge-pill badge-danger badge-lg" style="font-size:15px">5</span>
                </div>
            </div>

            <div class="items flex m-2">
                <div class="icon" style="margin: 5px auto">
                    <span class="fa fa-comments fa-2x"></span>
                </div>

                <div class="title" data-toggle="modal" data-target="#viewcategory">Opportunities</div>

                <div class="notify">
                    <span class="badge badge-pill badge-danger badge-lg" style="font-size:15px">5</span>
                </div>
            </div>

            <div class="items flex m-2">
                <div class="icon" style="margin: 5px auto">
                    <span class="fa fa-comments fa-2x"></span>
                </div>

                <div class="title" data-toggle="modal" data-target="#viewcategory">Things-learnt</div>

                <div class="notify">
                    <span class="badge badge-pill badge-danger badge-lg" style="font-size:15px">5</span>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createcategory" tabindex="-1" role="dialog" aria-labelledby="createcategoryTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createcategoryTitle">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Category</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="viewcategory" tabindex="-1" role="dialog" aria-labelledby="viewcategoryTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewcategoryTitle">View/Edit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="recipient-name" value="Anouncement">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" rows="5"
                            id="message-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit qui, nulla animi libero magni molestias quod voluptate officiis quia, suscipit culpa architecto delectus nam doloribus quam. Iure error odio eligendi?</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" disabled>Edit Category</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal ends -->