<div class="oj-hybrid-padding">
  <p class="btn btn-info">
    New post
  </p>
  <div class="row">
    <div class="col-sm-12 np d-none">
      <h4>Create a new post</h4>
      <div class="my-3">
        <select
          data-bind="options: categories, optionsText: 'category_name',  optionsValue:'id', optionsCaption: 'Select category', value: selectedCat"
          class="form-control">
        </select>
      </div>
      <div class="my-3">
        <input data-bind="textInput: post_title" type="text" placeholder="Title of the post" class="form-control" />
      </div>
      <textarea data-bind="textInput: newpost" class="form-control my-3" placeholder="Your post here"
        style="height: 200px;">
      </textarea>
      <div class="my-3">
        <input data-bind="click: createPost" type="submit" class="btn btn-success" value="Create post" />
      </div>
    </div>
    <div class="col-sm-12 posts">
      <h4>My posts</h4>

      <oj-list-view id="listview" class="w-100" style="overflow-x:hidden"
        data="[[dataProvider]]" selection-mode="single" scroll-policy="loadMoreOnScroll"
        scroll-policy-options.fetch-size="5">
        <template slot="itemTemplate" data-oj-as="item" style="border:none">
          <div class="p-2 border rounded bg-light">
            <div>
              <strong class="text-capitalize">
                <oj-bind-text value="[[item.data.post_title]]"></oj-bind-text>
              </strong>
            </div>
            <div class="my-2 ">
              <span style="word-wrap: break-word">
                <oj-bind-text value="[[item.data.post_body]]"></oj-bind-text>
              </span>
            </div>
            <span>
              Posted: <oj-bind-text value="[[item.data.created_at]]"></oj-bind-text>
            </span>
          </div>
        </template>
      </oj-list-view>
    </div>
  </div>
</div>