<h3 class="task-submission">Dear Intern, please Submit Your Task(s) Here</h3>
<div>
<oj-form-layout
  id="form-container"
  class="form oj-form-control-full-width"
  style="max-width: 50%; margin: 0 auto; max-height: 50%; "
>
  <span class="message"></span>
  <oj-input-text
    id="inputcontrol"
    value="{{ firstName }}"
    label-hint="First Name"
  >
  </oj-input-text>
  <oj-input-text
    id="inputcontrol"
    value="{{ lastName }}"
    label-hint="Last Name"
  >
  </oj-input-text>
  <oj-input-text id="inputcontrol" value="{{ email }}" label-hint="Email">
  </oj-input-text>
  <oj-input-text id="inputcontrol" value="{{ url }}" label-hint="Task URL(s)">
  </oj-input-text>
  <oj-input-text
    id="inputcontrol"
    value="{{ hngCode }}"
    label-hint="HNGi Code"
  ></oj-input-text>
  <oj-combobox-many id="combobox2" label-hint="Stack" value="{{ stack }}">
    <oj-option value="React">React</oj-option>
    <oj-option value="Vue">Vue</oj-option>
    <oj-option value="Angular">Angular</oj-option>
    <oj-option value="PHP">PHP</oj-option>
    <oj-option value="Node">Node</oj-option>
  </oj-combobox-many>
  <oj-text-area
    id="textareacontrol"
    rows="4"
    value="{{ taskDescription }}"
    label-hint=" Your Task Description"
  ></oj-text-area>
  <oj-button
    class="oj-button-confirm"
    chroming="full"
    style="width: 100%; margin: 2em 0"
    on-oj-action=[[submit]]
  >
    <span slot="penIcon" class="oj-fwk-icon oj-fwk-icon-clock"></span>
    Submit
  </oj-button>
</oj-form-layout>
</div>
